.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.centrar{
  text-align: center;
  background-color: #cee9ff;
  height: 100vh;
}

.tamaño{
  margin: 0 auto;
  width: 300px;
  padding-top: 40px;
}

.input{
  padding: 12px;
  background-color: #EFEFEF;
  border: 1px solid #a1a1a1;
  border-radius: 6px;
  width: 294px;
  margin-bottom: 5px;
}

.tarea{
  margin: 5px;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 2px 0 0 10px;
}

.tareas{
  font-size: 30px;
  text-align: left;
  padding-left: 10px;
}

.screenregister{
  text-align: center;
}

.añadir-tarea{
  text-align: center;
  padding-top: 30px;
}

.input-tarea{
  border-radius: 14px;
}

.boton-crear-tarea{
  border-radius: 14px;
}

.login-form{
  text-align: center;
  padding-top: 5%;
}